
#trivia-space{
    background-color: rgb(231, 146, 217);
    width:970px;
    height: 600px;
    margin-left:250px;
    position: relative;
}

#startButton{
    position:absolute;
    font-size: 100px;
    border: 5px solid #000000;
    padding-top: 20px;
    top:200px;
    bottom: 200px;
    left: 335px;
}
#answerDiv{
    color:rgb(6, 255, 89);
}

#displayTimer{
    font-size:50px;
    margin-left:450px;
}

#question{
    margin-left:200px;
    width: 400px;
    font-size: 40px;
}

#answerDiv{
    font-size:30px;
    width:250;
    margin-left:325px;
}


